@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-bahavior: smooth;
}
.scrollbar-hide::-webkit-scrollbar{
  display: none !important;
}

.scrollbar-hide{
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
